@import '~antd/dist/antd.css';
@import '~react-user-guide/dist/custom-style.css';

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.site-layout .site-layout-background {
  background: #fff;
}



/* HeaderInfo */
.header-left {
  float: left;
}
.header-right {
  float: right;
  margin-right: 10px;
}

/* 行间距 */
.row-space {
  margin-bottom: 10px;
}

.loginCard{
  width: 400px;
  margin: 150px auto;
}